@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy Heavy'), local('Gilroy-Heavy'),
		url('../fonts/Gilroy-Heavy.woff2') format('woff2'),
		url('../fonts/Gilroy-Heavy.woff') format('woff'),
		url('../fonts/Gilroy-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy Bold'), local('Gilroy-Bold'),
		url('../fonts/Gilroy-Bold.woff2') format('woff2'),
		url('../fonts/Gilroy-Bold.woff') format('woff'),
		url('../fonts/Gilroy-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
		url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
		url('../fonts/Gilroy-Semibold.woff') format('woff'),
		url('../fonts/Gilroy-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: local('Gilroy Medium'), local('Gilroy-Medium'),
		url('../fonts/Gilroy-Medium.woff2') format('woff2'),
		url('../fonts/Gilroy-Medium.woff') format('woff'),
		url('../fonts/Gilroy-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
.btn-grey {
	color: #ffffff;
	background-color: #2b3746;
	border: 1px solid #4d5969;
	font-weight: 700;
	transition: all ease 0.4s;
}
.btn-grey:hover {
	background-color: #384452;
}
.btn-yello {
	color: #1b1c2d;
	background-color: #ffc700;
	font-weight: 700;
	transition: all ease 0.4s;
}
.btn-yello:hover {
	background-color: #c59c06;
}
.btn-black-grey {
	color: #b1ade3;
	background-color: #262537;
	font-weight: 700;
	transition: all ease 0.4s;
}
.btn-black-grey:hover {
	background-color: #2e2d42;
}

body {
	font-family: 'Gilroy', sans-serif;
	font-weight: 600;
	font-size: 24px;
	color: #ffffff;
	background-color: #1b1c2d;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}
.container {
	max-width: 1400px;
	padding: 0 10px;
	margin: 0 auto;
}

.header {
	background-color: #1d252f;
}
.header__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 64px;
}
.header__btns {
	display: flex;
	gap: 10px;
}
.header__btn-login,
.header__btn-reg {
	border-radius: 12px;
	font-size: 16px;
}
.header__btn-login {
	padding: 15px 22px;
}
.header__btn-reg {
	padding: 15px 37px;
}
/**/
.slider__wrapp-mobile {
	padding-top: 12px;
	overflow: hidden;
	width: 100%;
}
.slide__track-mobile {
	display: flex;
	transition: transform 0.4s ease;
}

.slide-mobile {
	min-width: 100%;
	max-height: 300px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	color: white;
	position: relative;
}
.slide__body-mobile {
	position: absolute;
	top: 15px;
	left: 15px;
	right: 0;
}
.slide__title-mobile {
	width: 300px;
	font-weight: 900;
	font-size: 33px;
	line-height: 34px;
	text-transform: uppercase;
	color: #ffffff;
	user-select: none;
}
.slide__title-mobile span {
	color: #ffc700;
	user-select: none;
}
.slide__lin-mobile {
	user-select: none;
	display: flex;
	gap: 4px;
	align-items: center;
	color: #ffc700;
	font-size: 22px;
	font-weight: 900;
	text-transform: uppercase;
}
.slide__title-block-mobile {
	user-select: none;
	font-size: 43px;
}
.slide__bottom-line {
	position: absolute;
	bottom: 10px;
	left: 15px;
	right: 0;
	display: flex;
	gap: 10px;
}
.slide__bottom-line a {
	font-size: 22px;
	font-weight: 600;
	padding: 10px 16px;
	border-radius: 8px;
}
.slide__text-mobile {
	margin-top: 6px;
	font-weight: 600;
	font-size: 12px;
	width: 185px;
	user-select: none;
}
.slide__line-block-mobile {
	display: flex;
	flex-direction: column;
}

.slide-mobile img {
	border-radius: 20px;
	width: 100%;
	margin: 0 auto;
}
.slider-mobile {
	padding-top: 20px;
	display: none;
}
.slider-title-mobile {
	font-weight: 600;
	font-size: 18px;
	color: #ffffff;
}
.slide__line-mobile {
	padding-top: 10px;
	display: flex;
	justify-content: space-evenly;
	gap: 5px;
}
.slide__btn-mobile {
	width: 65px;
}
.slide__btn-mobile.active {
	border-radius: 50%;
	object-fit: cover;
	border: 2px solid #ffc700;
}
.slider__bottom-mobile {
	padding-top: 15px;
	display: flex;
	justify-content: center;
	gap: 8px;
}
.slider-bottom__btn-mobil {
	width: 45px;
	border-radius: 5px;
	height: 3px;
	background-color: #383a5d;
	transition: all ease 0.4s;
}
.slider-bottom__btn-mobil.active {
	background-color: #ffc727;
	box-shadow: 0px 2px 8px 0px #ffc72754;
}
/**/

.slider {
	padding-top: 20px;
	overflow: hidden;
	width: 100%;
}

.slider-track {
	display: flex;
	transition: transform 0.4s ease;
}

.slide {
	min-width: 100%;
	max-height: 412px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2rem;
	color: white;
}
.slide__line {
}
.slider-buttons {
	width: fit-content;
	display: flex;
	justify-content: center;
	gap: 10px;
	border: 1px solid #313254;
	background: #25263f;
	border-radius: 30px;
	margin: 20px auto 0 auto;
}

.slider-btn {
	display: flex;
	align-items: center;
	gap: 25px;
	font-size: 18px;
	font-weight: 500;
	color: #ffffff;
	padding: 12px 22px;
	border-radius: 30px;
	transition: all ease 1s;
}
.slider-btn img {
	width: 68px;
}

.slider-btn.active {
	background: linear-gradient(90deg, #232540 0%, #5933d9 100%);
	border: 1px solid #313254;
}
.slide-high {
	position: relative;
}
.slide-high__img {
	width: 100%;
	height: auto;
	border-radius: 30px;
}
.slide-high__title {
	width: 100%;
	text-align: center;
	position: absolute;
	font-size: clamp(24px, 3vw, 38px);
	font-weight: 900;
	top: clamp(15px, 2vw, 30px);
	text-shadow: 0px 4px 12px #000000a8;
	text-transform: uppercase;
	user-select: none;
}
.slide-high__block {
	position: absolute;
	width: 100%;
	bottom: clamp(5px, 2vw, 25px);
}
.slide-high__subtitle {
	font-weight: 900;
	font-size: clamp(38px, 3vw, 52px);
	text-transform: uppercase;
	color: #ffc700;
	text-shadow: 0px 4px 12px #000000a8;
	text-align: center;
	margin-bottom: clamp(4px, 2vw, 8px);
	user-select: none;
}

.slide-high-text-white {
	width: 100%;
	font-weight: 700;
	font-size: clamp(38px, 3vw, 40px);
	text-shadow: 0px 4px 12px #000000a8;
	text-align: center;
	text-transform: uppercase;
	text-align: center;
	user-select: none;
	margin-bottom: clamp(4px, 2vw, 8px);
}
.slide-high-text {
	width: 100%;
	text-align: center;
	font-size: clamp(14px, 3vw, 16px);
	font-weight: 600;
	opacity: 55%;
	color: #ffffff;
	margin-bottom: clamp(5px, 2vw, 15px);
	user-select: none;
}
.slide-high__text-center {
	text-align: center;
}
.slide-high__link {
	display: flex;
	justify-content: center;
	gap: 10px;
}
.slide__high-btn-reg,
.slide__high-btn-info {
	padding: clamp(8px, 2vw, 12px) 25px;
	border-radius: 10px;
	font-size: clamp(14px, 2vw, 20px);
}

/**/
.slider__on-slide {
	display: flex;
}
.slide-on {
	position: relative;
}
.slide img {
	border-radius: 20px;
	max-width: 100%;
	margin: 0 auto;
}
.slider-on-block {
	position: absolute;
	top: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
}
.slider-on__top-line {
	position: absolute;
	top: clamp(5px, 2vw, 15px);
	left: 0;
	right: 0;
	font-size: clamp(20px, 2vw, 32px);
	font-weight: 900;
	text-shadow: 0px 4px 12px #000000a8;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	user-select: none;
}
.slider-on__botton-line {
	position: absolute;
	bottom: clamp(7px, 2vw, 20px);
	left: 0;
	right: 0;
	text-align: center;
}
.slider-on__title-block {
	margin-bottom: -10px;
}
.slider-on__subtitle {
	user-select: none;
	text-transform: uppercase;
	font-size: clamp(22px, 3vw, 38px);
	line-height: clamp(22px, 3vw, 36px);
	font-weight: 900;
	color: #ffc700;
	text-shadow: 0px 4px 12px #000000a8;
}
.slider-on__text {
	user-select: none;
	font-size: clamp(8px, 1vw, 12px);
	line-height: 12px;
	font-weight: 600;
	color: #ffffff;
	opacity: 55%;
}
.slide-on__link {
	display: flex;
	gap: 10px;
	justify-content: center;
	padding-top: 10px;
}
.slide__on-btn-reg,
.slide__on-btn-info {
	padding: clamp(8px, 1vw, 12px) clamp(12px, 1vw, 21px);
	font-size: 20px;
	font-weight: 600;
	border-radius: 10px;
}

/**/
.inner-controls div.active {
	background-color: #ffc700;
	box-shadow: 4px 10px 5px 0px #ffc72754;
}
.slider__onser {
	overflow: hidden;
}
.slider__on-slide {
}

.inner-track {
	display: flex;
	transition: transform 0.5s ease;
	width: 100%;
}

.inner-slide {
	flex: 0 0 33.333%;
	padding: 0 8px;
}

.inner-controls {
	margin-top: 5px;
	display: flex;
	gap: 5px;
	justify-content: center;
	padding-bottom: 5px;
}

.inner-controls div {
	width: 77px;
	height: 4px;
	background-color: #383a5d;
	transition: background-color 0.3s;
	border-radius: 4px;
}

/**/
.game {
	padding: 30px 0;
}
.game__wrapper {
	width: 100%;
}
.game__title {
	font-size: 32px;
	font-weight: 700;
	font-size: #ffffff;
	margin-bottom: 30px;
}
.game__line-btn {
	display: flex;
	gap: 10px;
	margin-bottom: 20px;
}
.game__btn {
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: 16px;
	font-weight: 600;
	padding: 8px 12px;
	background-color: #1c242e;
	border-radius: 8px;
	color: #ffffff;
	transition: all ease 0.4s;
}
.game__btn:hover {
	color: #ffc700;
}
.game__btn.active {
	background-color: #200c26;
}
.game__list {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-auto-rows: 1fr;
	gap: 5px;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}
.game__block-img {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all ease 0.5s;
}
.game_btn-list {
	opacity: 0;
	position: absolute;
	font-size: 20px;
	font-weight: 700;
	padding: 12px 30px;
	border-radius: 10px;
	transition: all ease 0.5s;
	z-index: 1;
	user-select: none;
	pointer-events: none;
}
.game__block-img::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4); /* затемнение */
	opacity: 0;
	transition: all ease 0.5s;
}
.game__block-img:hover::after {
	opacity: 1;
}
.game__block-img:hover .game_btn-list {
	opacity: 1;
}

.game__img-list {
	aspect-ratio: 1 / 1;
	border-radius: 10px;
	width: 100%;
	box-sizing: border-box;
}

.game__line-mobile-wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.game__line-mobile {
	display: none;
	justify-content: start;
	gap: 6px;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.game__line-mobile::-webkit-scrollbar {
	display: none;
}

.game__line-mobile-wrapper::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 75px;
	height: 100%;
	background: linear-gradient(
		269.41deg,
		#1b1c2d 0.48%,
		rgba(27, 28, 45, 0.84) 46.7%,
		rgba(27, 28, 45, 0) 115.99%
	);
	pointer-events: none;
	z-index: 1;
}
.game__line-mobile::-webkit-scrollbar {
	display: none;
}
.game__list-mobile {
	display: none;
	width: 100%;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: 1fr;
	gap: 2px;
	margin: 0 auto;
	padding-top: 15px;
	box-sizing: border-box;
}
.game__list-mobile div {
	height: auto;
}
.show-more-btn {
	display: none;
}
.game__btn-mobile {
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 8px;
	width: 68px;
	padding: 5px 0;
	background-color: #1c242e;
	border-radius: 5px;
	color: #ffffff;
}
.game__btn-mobile svg {
	fill: #ffffff;
}
.game__btn-mobile span {
	font-weight: 600;
	font-size: 11px;
}
.game__btn-mobile.active {
	color: #ffc700;
}
.game__btn-mobile.active svg {
	fill: #ffc700;
}

/*info*/

.info {
	padding: 30px 0;
}
/* .digital,
.becoming,
.funding,
.gameplay,
.bonuses,
.communication,
.technical,
.account,
.dispute,
.legal,
.responsible,
.final{
	padding-top: 15px;
} */
.italy {
	font-style: italic;
}

.tearms-conditions,
.response-compact,
.privacy-policy {
	padding-top: 15px;
}
.final,
.contact-channels,
.improvement {
	padding-bottom: 15px;
}
.info__title,
.title {
	font-size: clamp(24px, 3vw, 32px);
	font-weight: 700;
	color: #f3f3f3;
	padding-top: clamp(8px, 2vw, 15px);
	margin-bottom: clamp(8px, 3vw, 15px);
}
.title-h1 {
	font-size: clamp(24px, 3vw, 36px);
	font-weight: 700;
	color: #f3f3f3;
	padding-top: clamp(8px, 2vw, 15px);
	margin-bottom: clamp(8px, 3vw, 15px);
}
.info__sub-title,
.sub-title {
	font-size: clamp(20px, 3vw, 26px);
	font-weight: 700;
	color: #f3f3f3;
	margin-bottom: clamp(8px, 3vw, 15px);
}

.info__text,
.text {
	font-size: clamp(18px, 3vw, 22px);
	line-height: clamp(20px, 3vw, 22px);
	color: #a5a5a5;
	margin-bottom: clamp(8px, 3vw, 15px);
}
.mini-title {
	font-size: clamp(18px, 3vw, 20px);
	font-weight: 400;
	color: #ffffff;
	margin-bottom: clamp(8px, 3vw, 15px);
	font-weight: 700;
}
.info__text span,
.text span {
	font-weight: 700;
}
.info__list,
.list,
.list-num {
	font-size: clamp(18px, 3vw, 22px);
	line-height: clamp(20px, 3vw, 22px);
	font-weight: 400;
	color: #a5a5a5;
	list-style-type: decimal;
	padding-left: clamp(30px, 3vw, 40px);
	margin-bottom: clamp(8px, 3vw, 15px);
}
.list {
	list-style-type: disc;
}

.info__item-list + .info__item-list,
.item-list + .item-list {
	padding-top: 7px;
}
.info__item-list span,
.item-list span,
.list__item span {
	color: #a5a5a5;
	font-weight: 700;
}
.list__item {
	padding: 1px 0;
	color: #a5a5a5;
}
.info__table {
	padding-top: 15px;
	width: 80%;
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}
.table-row {
	display: grid;
	grid-template-columns: 25% 10% 35% 30%;
	gap: 4px;
	margin-bottom: 4px;
}

.table-cell {
	padding: clamp(8px, 3vw, 14px) clamp(12px, 3vw, 14px);
	font-size: clamp(14px, 3vw, 18px);
	font-weight: 400;
	background: #25263d;
	display: flex;
	align-items: center;
}
.table-header .table-cell:first-child {
	border-top-left-radius: 15px;
}
.table-header .table-cell:last-child {
	border-top-right-radius: 15px;
}
.info__table .table-row:last-child .table-cell:first-child {
	border-bottom-left-radius: 15px;
}
.table-header .table-cell {
	background-color: #ffd700;
	color: #1b1c2d;
	font-size: clamp(14px, 3vw, 18px);
	font-weight: 700;
	line-height: clamp(14px, 3vw, 22px);
}

/*footer*/
.footer {
	padding: 30px 0;
	background: #111519;
}
.footer__line-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__block-top {
	display: flex;
	gap: 40px;
}

.footer__body {
	padding-bottom: 20px;
	display: flex;
	justify-content: space-between;
}
.foooter__left-body {
	font-size: 12px;
	font-weight: 400;
	color: #405b6f;
}
.footer__text-body {
	width: 585px;
	max-width: 100%;
}
.footer__text-body a {
	color: #ffc700;
	transition: all ease 0.4s;
}
.footer__text-body a:hover {
	text-decoration: underline;
}
.footer__text-body + .footer__text-body {
	padding-top: 10px;
}
.footer__right-body {
	display: flex;
	justify-content: space-between;
	padding-left: 70px;
	width: 100%;
}
.menu__nav {
	font-size: clamp(14px, 3vh, 18px);
	font-weight: 600;
}
.menu__item {
	padding: 3px 0;
	white-space: nowrap;
	transition: all ease 0.5s;
}
.menu__item:hover {
	color: #817c7c;
}

.footer__accordion {
	display: none;
}
.footer__img-footer {
	width: 76px;
	height: auto;
}
.footer__menu-button {
	border-top: 1px solid #424b57;
	width: 100%;
	color: #ffffff;
	padding: 10px 0px;
	margin-top: 2px;
	font-size: clamp(16px, 3vw, 18px);
	font-weight: 900;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	text-align: left;
	transition: all ease 0.3s;
}
.footer__menu-button .icon {
	margin-left: 10px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #2b3746;
}
.footer__menu-button .icon img {
	width: 15px;
	fill: #000;
	transition: all ease 0.4s;
}
.icon {
	font-size: 20px;
	transition: 0.4s;
}

.footer__content {
	padding: 0 20px;
	gap: 10px;
	display: flex;
	flex-direction: column;
	font-size: clamp(14px, 3vw, 16px);
	font-weight: 400;
	line-height: 18px;
	transition: 0.4s;
	height: 0;
	overflow: hidden;
}
.footer__btn-accordion:hover {
	color: #ffc700;
}
.footer__microblock-body {
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.footer__title-body {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 5px;
	color: #ffffff;
}
.footer__btn-body {
	font-size: 14px;
	font-weight: 500;
	color: #ffffff;
	transition: all esse 0.4s;
}
.footer__btn-body:hover {
	color: #ffc700;
}

.footer__bottom {
	padding-top: 15px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-top: 1px solid #424b57;
}
/**/
.open-modal-btn {
	padding: 15px 30px;
	font-size: 1.2rem;
	background-color: #333;
	color: #fff;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.open-modal-btn:hover {
	background-color: #555;
}

.modal-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1000;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-content {
	border: 1px solid #28293e;
	background-color: #1b1c2d;
	padding: 20px 15px;
	border-radius: 10px;
	width: 400px;
	margin: 0 15px;
	text-align: center;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transform: translateY(-30px);
	opacity: 0;
	transition: opacity 0.3s ease, transform 0.3s ease;
	position: relative;
}

.modal__title {
	font-weight: 700;
	font-size: 32px;
	text-align: center;
	color: #ffbc00;
	margin-bottom: 10px;
}
.modal__wrop {
	position: relative;
	height: 600px;
	display: flex;
	align-items: center;
}
.modal__img-block {
	position: absolute;
	top: -130px;
	left: 50%;
	transform: translateX(-50%);
}
.modal__text {
	font-weight: 500;
	font-size: 14px;
	text-align: center;
}
.modal__line {
	display: flex;
	gap: 8px;
	justify-content: center;
}
.modal__img {
	width: 155px;
	margin: 15px 0;
	border-radius: 20px;
	border: 2px solid #ffc700;
}
.modal__btn {
	flex: 0 0 45%;
	padding: 10px 0px;
	font-size: 18px;
	font-weight: 700;
	border-radius: 10px;
}
.modal-overlay.open {
	display: flex;
	opacity: 1;
	visibility: visible;
}

.modal-overlay.open .modal-content {
	opacity: 1;
	transform: translateY(0);
}

.close-modal-btn {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: #333;
	background: #212238;
	cursor: pointer;
	transition: background-color 0.3s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}

.close-modal-btn:hover {
	background-color: #555;
}
.scroll-to-top-btn,
.scroll-chat-btn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
	background: #1d252fcf;
	opacity: 95%;
	color: white;
	border: none;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	font-size: 24px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	border: 1px solid #3a404f;
}

@media (max-width: 1150px) {
	.info__table {
		width: 90%;
	}
	.footer__text-body {
		width: 400px;
		max-width: 100%;
	}
}

@media (max-width: 950px) {
	.slider-on__title-block {
		margin-bottom: -17px;
	}
}

@media (max-width: 900px) {
	.table-row {
		gap: 2px;
		grid-template-columns: 172px 70px 197px 200px;
		margin-bottom: 2px;
	}
	.table-cell {
		padding: 8px 12px;
		font-size: 14px;
	}
	.table-header .table-cell {
		font-size: 14px;
		line-height: 14px;
	}
	.info__table {
		width: 100%;
	}

	.info__table-line {
		width: 100%;
		overflow-x: auto;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
		scroll-behavior: smooth;
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
	.slider-buttons {
		gap: 0px;
		margin: 10px auto 0 auto;
	}
	.slider-btn {
		gap: 10px;
		font-size: 18px;
		font-weight: 500;
		color: #ffffff;
		padding: 5px 10px;
	}
	.slider-btn img {
		width: 50px;
	}
	.footer__accordion {
		display: block;
		width: 300px;
	}
	.footer__microblock-body {
		display: none;
	}
	.game_btn-list {
		font-size: 18px;
		padding: 10px 25px;
	}
}
@media (max-width: 800px) {
	.footer__img-footer {
		width: 45px;
	}
	.inner-slide {
		flex: 0 0 50%;
		padding: 0 8px;
		overflow: hidden;
	}
	.inner-slide img {
		width: 100%;
		height: 245px;
		object-fit: initial;
		display: block;
	}
	.slider-on__botton-line {
		display: flex;
		flex-direction: column;
	}
	.slider-on__text {
		padding-top: 5px;
		font-size: 10px;
		line-height: 12px;
		font-weight: 600;
		color: #ffffff;
		opacity: 55%;
	}
	.slide-img {
		height: 100%;
	}
	.slide {
		height: 250px;
	}
	.inner-controls div {
		height: 6px;
	}
	.game__title {
		font-size: 24px;
		font-weight: 700;
		font-size: #ffffff;
		margin-bottom: 20px;
	}
	.footer__body {
		padding-bottom: 15px;
		flex-direction: column-reverse;
	}
	.footer__right-body {
		order: 1;
		margin: 20px 0;
		padding: 0;
	}
	.inner-controls {
	}
	.game_btn-list {
		font-size: 16px;
		padding: 8px 20px;
	}

	.slider-on__title-block {
		margin-bottom: 0px;
	}
}
@media (max-width: 650px) {
	.slider-btn {
		gap: 5px;
		font-size: 14px;
		font-weight: 500;
		color: #ffffff;
		padding: 3px 8px;
	}
	.slider-btn img {
		width: 40px;
	}
	.game,
	.info,
	.footer {
		padding: 15px 0;
	}
	.game__line-btn {
		gap: 5px;
		margin-bottom: 10px;
	}
	.game__btn {
		gap: 5px;
		font-size: 12px;
		padding: 5px 8px;
		transition: all ease 0.4s;
	}
	.game__list {
		grid-template-columns: repeat(4, 1fr);
		gap: 5px;
	}
	.header__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 57px;
	}
	.header__logo img {
		width: 120px;
		height: 25px;
	}
	.header__btns {
		align-items: center;
	}
	.header__btn-login {
		padding: 10px 15px;
	}
	.header__btn-reg {
		padding: 10px 20px;
	}
	.slider {
		padding-top: 10px;
		overflow: hidden;
		width: 100%;
	}
	.slider-on__text {
		padding-top: 5px;
		font-size: clamp(7px, 1.5vw, 10px);
		line-height: 12px;
	}
	.slide__on-btn-reg,
	.slide__on-btn-info {
		padding: 4px 10px;
		font-size: 18px;
		font-weight: 600;
		border-radius: 10px;
	}
	.slide-on__link {
		gap: 6px;
		padding-top: 5px;
	}
	.inner-controls div {
		gap: 5px;
		width: 50px;
		height: 4px;
	}
	.footer__right-body {
		margin: 10px 0;
	}
	.footer__text-body {
		width: 100%;
	}
	.game_btn-list {
		font-size: 20px;
		padding: 10px 20px;
	}
}

@media (max-width: 500px) {
	.footer__logo svg {
		width: 50px;
	}
	.footer__block-top {
		gap: 10px;
	}
	.footer__body {
		padding: 0 0 10px 0;
	}
	.footer__accordion-container {
		width: 100%;
	}
	.footer__accordion {
		display: block;
		width: 100%;
	}
	.mastercard2-logo,
	.payoneer2-logo,
	.applePay-logo {
		display: none;
	}
	.slider,
	.slide__line {
		display: none;
	}
	.game__line-btn,
	.game__list {
		display: none;
	}
	.slider-mobile {
		display: block;
	}
	.game__title {
		padding-top: 15px;
		font-size: 20px;
	}
	.game__line-mobile {
		display: flex;
	}
	.game__list-mobile {
		display: grid;
	}
	.show-more-btn {
		display: block;
		margin: 10px auto 0px auto;
		font-size: 18px;
		font-weight: 600;
		padding: 10px 26px;
		cursor: pointer;

		border-radius: 8px;
	}
	.show-more-btn.hidden {
		display: none;
	}
	.game {
		padding-bottom: 0px;
	}
	.scroll-to-top-btn {
		bottom: 70px;
		right: 5px;
	}
	.modal-content {
		border: 1px solid #28293e;
		background-color: #1b1c2d;
		padding: 10px;
		border-radius: 10px;
		width: 320px;
		margin: 0 15px;
		text-align: center;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
		transform: translateY(-30px);
		opacity: 0;
		transition: opacity 0.3s ease, transform 0.3s ease;
		position: relative;
	}
	.info__title {
		padding-top: 10px;
	}
}
@media (max-height: 700px) {
	.modal__img-block {
		top: -10px;
		height: 200px;
		left: 50%;
		transform: translateX(-50%);
	}
	.modal-content {
		padding: 10px 10px;
		width: 350px;
	}
}
.slider__text-mobile {
	padding-top: 5px;
	font-size: 24px;
	font-weight: 900;
	color: #ffc700;
}
@media (max-width: 415px) {
	.slide__title-mobile {
		font-size: 25px;
		line-height: 25px;
		width: 250px;
	}
	.slide__title-block-mobile {
		font-size: 40px;
	}
	.slider__text-mobile {
		padding-top: 0px;
		font-size: 22px;
	}
	.slide__text-mobile {
		margin-top: 4px;
	}
}

@media (max-width: 380px) {
	.slide__title-mobile {
		width: 250px;
		font-size: 26px;
		line-height: 26px;
	}
	.slide__lin-mobile {
		font-size: 18px;
	}
	.slide__title-block-mobile {
		font-size: 38px;
	}
	.slide__bottom-line a {
		font-size: 14px;
		padding: 8px 12px;
		border-radius: 8px;
	}
	.modal-content {
		border: 1px solid #28293e;
		background-color: #1b1c2d;
		padding: 10px;
		border-radius: 10px;
		width: 300px;
		margin: 0 15px;
		text-align: center;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
		transform: translateY(-30px);
		opacity: 0;
		transition: opacity 0.3s ease, transform 0.3s ease;
		position: relative;
	}
	.modal__text {
		font-weight: 500;
		font-size: 12px;
		text-align: center;
	}
}
@media (max-width: 330px) {
	.slide__text-mobile{
		display: none;
	}
}
@media (max-height: 850px) {
	.modal__img-block {
		top: -60px;
		height: 250px;
		left: 50%;
		transform: translateX(-50%);
	}
}
@media (max-height: 600px) {
	.modal__img-block {
		top: -10px;
		height: 200px;
		left: 50%;
		transform: translateX(-50%);
	}
}
